/* ...existing code... */
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-container input[type="number"]::-webkit-outer-spin-button,
.input-container input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-container input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.input-container button {
  width: 2rem;
  height: 1.75rem;
  font-size: 1.2rem;
  background: #d1d1d1;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.inc-button {
  color: #F52F57;
}
.dec-button {
  color: #23CE6B;
}

.button-container .inc-button:hover {
  color: #0A1128;
  background: #F52F57;
}
.button-container .dec-button:hover {
  color: #0A1128;
  background: #23CE6B;
}
.input-container:focus-within {
  border: 1px solid #0A1128;
}
/* ...existing code... */