.formula {
    font-size: 1rem;
    margin: auto;
    width: 60%;
}

.note {
    font-size: 0.65rem;
    text-align: center;
}

@media (max-width: 800px) {
    .formula {
        font-size: 0.8rem;
        width: 100%;
    }
    
    .paragraph {
        width: 100%; 
    }
}