.info-section {
    width: 60%;
    margin: auto;
}

.paragraph {
    font-size: 1.2rem;
    margin: auto;
    text-align: left;
    padding: 1rem 0rem;
}

@media (max-width:800px) {
    .paragraph {
        width: 80%;
    }
    .info-section {
        width: 100%;
        margin: auto;
    }
}