.navbar {
  height: 2.5rem;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #E9E9E9;
  padding: 0.5rem 1.5rem;
}

.navbar-logo {
  font-size: 1rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;  
  transition: all 0.15s ease;
}

.navbar-links li a:hover {
  color: #E9E9E9;
  background-color: #0A1128;
}

/* Burger menu animation */
.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1001;
  width: 25px;
  height: 2rem;
  justify-content: center;
}

.bar {
  width: 100%;
  height: 2.5rem;
  margin: 3px;
  border-radius: 100px;
  transition: 0.4s;
  position: relative;
  background-color: #0A1128;
}

.burger-menu.open .top-bar {
  transform: translateY(10px) rotate(45deg);
}

.burger-menu.open .middle-bar {
  opacity: 0;
}

.burger-menu.open .bottom-bar {
  transform: translateY(-6px) rotate(-45deg);
}

/* Responsive styles */
@media (max-width: 800px) {
  .navbar {
    width: 85%;
  }

  .burger-menu {
    display: flex;
    top: 0;
    right: 0;
    height: 1.5rem;
  }
  .navbar-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 7.5rem;
    background: #E9E9E9;
    border-radius: 0.5rem;
    box-shadow: 2px 0 8px rgba(0,0,0,0.15);
    padding: 1.5rem 1rem;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    opacity: 1;
    pointer-events: none;

  }
  .navbar-links.show {
    transform: translateX(0);
    pointer-events: auto;
  }
}
