/* TextLoop.css */

.text-loop {
  display: flex;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
}

.text {
  margin-right: 5px;
  font-size: 1.2rem;
  text-align: left;
}


.highlight-text {
  display: block;
  text-align: left;
  color: #2D728F;
  font-size: 1.2rem;
}

@media (max-width: 800px) {

    .text-loop {
      width: 80%;
      flex-wrap: wrap;
      padding: 0;
    }

    .text {
        font-size: 1rem; 
        text-align: left;
    }
    
    .highlight-text {
      font-size: 1rem;
      text-align: left;
      padding: 0;
    }
}